body {
  background-color: silver;
}

.center {
  text-align: center;
}

.delete {
  color: red;
}

.nav-spacing {
  margin-left: 10%;
  margin-right: 10%;
}

.paragraph-70-width {
  max-width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  text-indent: 2em;
  text-align: left;
}

.vertical-padding {
  padding-top: 20px;
  padding-bottom: 20px;
}

.width-60 {
  max-width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}
