body {
  background-color: silver;
}

.center {
  text-align: center;
}

.nav-spacing {
  margin-left: 10%;
  margin-right: 10%;
}

.paragraph-width {
  max-width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  text-indent: 2em;
  text-align: left;
}

.list-margin {
  margin-left: 10%;
  margin-right: 10%;
}

/* Ensures that the lits looks good on both desktop and tablets and phones */
/* phones under 370 px wide might not quite see everything still*/
@media all and (max-width: 1000px) {
  .list-margin {
    margin-left: 5%;
    margin-right: 5%;
  }
  .paragraph-width {
    max-width: 100%;
    margin-left: 5%;
    margin-right: 5%;
  }
}

@media all and (max-width: 550px) {
  .list-margin {
    margin-left: 0%;
    margin-right: 0%;
  }

  .paragraph-width {
    max-width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    text-indent: 2em;
    text-align: left;
  }
}
